.header
{
    background: url(../images/header-bg.jpg);
    min-height: 793px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;

    &__top
    {
        display: flex;
        justify-content: space-between;
        height: 100px;
        align-items: center;
    }
    &-slider
    {
        padding-top: 111px;
    }
    &-slider__item-content
    {
        display: flex;
        justify-content: space-between;
    }
    &-slider__item-info
    {
        max-width: 506px;
        color: #fff;
    }
    &-slider__title
    {
        font-weight: 700;
        font-size: 45px;   
        line-height: 1.3;      
        margin-bottom: 10px;
    }
    &-slider__discription
    {
        font-size: 24px;
        line-height: 2;
        margin-bottom: 60px;
    }
    &-slider__btn
    {
        text-transform: uppercase;
        font-weight: 600;
        color: #250F8A;
        padding: 13px 39px;
        background: #FFCA00;
        border-radius: 25px;
    }
    &-slider__item-images
    {
        margin:10px 82px 0 0;
    }
    &-dots
    {
        list-style: none;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
    &-dots button
    {
        border:none;
        background: #fff;
        opacity: .5;
        font-size: 0;
        padding: 0;
        width: 7px; 
        height: 7px;
        border-radius: 3.5px;
        cursor: pointer;
        outline: none;
        margin: 10px auto;
        display: block;
    }
    &-dots
    .slick-active button
    {
        width: 15px;
        opacity: 1;
    }
    
}

